/* Text Color Palette */

.tx-rr-deepviolet {
    color: #9A5FAB;
}

.bg-rr-violet {
    color: #CDAFD5;
}

.tx-rr-deeprose {
    color: #ED97AC;
}

.tx-rr-rose {
    color: #F6CBD6;
}

.tx-rr-deepemerald {
    color: #55DDC9;
}

.tx-rr-emerald {
    color: #AAEEE4;
}

.tx-rr-deepblue {
    color: #4391DB;
}

.tx-rr-blue {
    color: #87B9E8;
}

.tx-rr-deepyellow {
    color: #EACD86;
}

.tx-rr-yellow {
    color: #F6EACB;
}

/* Background Color Palette */

.bg-rr-deepviolet {
    background-color: #9A5FAB;
}

.bg-rr-violet {
    background-color: #CDAFD5;
}

.bg-rr-deeprose {
    background-color: #ED97AC;
}

.bg-rr-rose {
    background-color: #F6CBD6;
}

.bg-rr-deepemerald {
    background-color: #55DDC9;
}

.bg-rr-emerald {
    background-color: #AAEEE4;
}

.bg-rr-deepblue {
    background-color: #4391DB;
}

.bg-rr-blue {
    background-color: #87B9E8;
}

.bg-rr-deepyellow {
    background-color: #EACD86;
}

.bg-rr-yellow {
    background-color: #F6EACB;
}

/* Border Color Palette */

.border-rr-deepviolet {
    border-color: #9A5FAB;
}

.border-rr-violet {
    border-color: #CDAFD5;
}

.border-rr-deeprose {
    border-color: #ED97AC;
}

.border-rr-rose {
    border-color: #F6CBD6;
}

.border-rr-deepemerald {
    border-color: #55DDC9;
}

.border-rr-emerald {
    border-color: #AAEEE4;
}

.border-rr-deepblue {
    border-color: #4391DB;
}

.border-rr-blue {
    border-color: #87B9E8;
}

.border-rr-deepyellow {
    border-color: #EACD86;
}

.border-rr-yellow {
    border-color: #F6EACB;
}
